h1 {
    margin-top: 3vw;
    padding-top: 9vw;
	color: #6918B4;
      text-shadow: 1px 1px 2px black, 0 0 25px #C0C0C0, 0 0 5px #C0C0C0;
	text-align: center;
	font-size:8vw;
    margin-bottom: 00;
}


h2 {

	color: #babafc;
	text-align: center;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 4vw;
  margin-bottom: 300px;
  margin-top: 0;
}

h2 {

	color: #babafc;
	text-align: center;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 3vw;
  margin-bottom: 300px;
  margin-top: 0;
}

html, body {
	margin:0;
	padding:0;
}

body, html {
    height: 100%;
}

body {
	font-size:2vw;
  background-image: url("../images/city2.jpeg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#content {

	color: black;
	background-color: white;
  padding-top:200px;
	padding-bottom:200px;
  padding-left: 50px;
  padding-right: 50px;
    font-size: 100%;
}
.centertext{
  	text-align: center;
}

.about {

}

#footer {

	color: #6918B4;
	font-size: 1vw;
	font-style: italic;
	text-align: center;
	bottom: 0;
	width: 100%;
    box-shadow: 5px 10px 8px 10px #888888;
    position: fixed;
    background-color: white;
}

#social {
	float: left;
  padding-left: 1vw;
    width: 1.5%;
    height: auto;
}


.navbar {
	width: 100%;
    text-align: center;
    position: fixed;
    padding-bottom: 16px;
    background-color: #000d1a;
    top: 0;

}

.navbar a {
    text-align: center;
    font-size: 1.5vw;
    padding: 1vw 1vw;
    text-decoration: none;
}

a.one:link {
    color: #babafc;
    text-decoration: none;

}

/* visited link */
a.one:visited {
    color: #babafc;
    text-decoration: none;
}

/* mouse over link */
a.one:hover {
    color: #6918B4;
    text-decoration: none;
}

a.two:link {
    color: #6918B4;
        text-decoration: none;
}

/* visited link */
a.two:visited {
    color: #6918B4;
        text-decoration: none;
}
/* mouse over link */
a.two:hover {
    color: #babafc;
        text-decoration: none;
}

a.three:link {
    color: #babafc;
    text-decoration: none;
  padding-left: 40px;
}

/* visited link */
a.three:visited {
    color: #babafc;
    text-decoration: none;
      padding-left: 40px;
}

/* mouse over link */
a.three:hover {
    color: #6918B4;
    text-decoration: none;
      padding-left: 40px;
}

table {
	font-family: Georgia;
	font-family: serif;
	font-size:2vw;
	text-align: left;

}

  table.center {
    margin-left:auto;
    margin-right:auto;
  }

th {
    padding: .2vw;
    	vertical-align: top;
}

.areaCode {
	width: 8%;
	margin-right: .3vw;
}

.phoneNumber {
	width: 20%;
}
.image2 {
	width: 40%;
	text-decoration: none;
    transition: transform .1s;
    border: 1px solid blue;
}
.image3 {
	width: 30%;
    border: 1px solid black;
}
.image4 {
	width: 45%;
    border: 1px solid black;
}
img.image2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01);

}

.zip {
	width: 20%;
}

.comment-text-area {
float: left;
width:100%;
height: auto;
}
